<h2><%= gettext("Performance Details") %></h2>

<p>
  <%= gettext("Category") %>: <%= category_name(@performance) %>
  <br>
  <%= if @performance.stage_time do %>
    <%= gettext("Stage time") %>: <%= stage_time(@performance) %>
    <br>
  <% end %>
  <%= gettext("Edit code") %>: <code><%= @performance.edit_code %></code>
</p>

<h3><%= gettext("Participants") %></h3>

<ul>
  <%= for appearance <- @performance.appearances do %>
    <li><%= participant_info(appearance) %></li>
  <% end %>
</ul>
