$icon-font-path: "/fonts/"; /* use fonts from priv/static/fonts/ */
$font-size-base: 16px;
$font-family-sans-serif: Lato, sans-serif;

@import "bootstrap";

/* Make room for fixed top navbar */
body { margin-top: $navbar-height + $line-height-computed; }

/* Make image fit into navbar */
.navbar-brand > img { height: $line-height-computed; }

/* Hide empty flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button { display: inline; }
