<h2><%= gettext("New User") %></h2>

<%= render "form.html",
  changeset: @changeset,
  action: internal_user_path(@conn, :create),
  has_password_field: true,
  submit_title: gettext("Create User") %>
